body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}